<!DOCTYPE html>
<html lang="en">
{% include 'base.html' %}
<body>
<div class="container">
<h1>Направления</h1>
    {% for item in deps.items() %}
    <a href="/departures/">{{ item }}</a>
    {% endfor %}
    <br>
    <!--- {% for key,value in deps.items() %}
    <div class="card">
        <div class="card-body">
            <a class="card-link" href="">{{ value }}</a>
            <ul class="list-group list-group-flush">
                <p></p>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
            </ul>
        </div>
    </div>

    {% endfor %} --->
</div>
</body>
</html>
